    public ${propertyType} ${propertyGetter}() {
        return ${property};
    }

    public void ${propertyMutator}(${propertyType} aValue) {
        ${propertyType} old = ${property};
        ${property} = aValue;
        changeSupport.firePropertyChange("${fieldName}", old, ${property});
    }
