import com.septima.entities.SqlEntities;
${entitiesRowsImports}
import com.septima.model.Model;

import java.util.*;

public class ${modelClass} extends Model {

${modelEntities}    public ${modelClass}(SqlEntities aEntities) {
        super(aEntities);
    }

${modelEntitiesGetters}
}
